body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: blue;
}

hr {
    border: 2px solid red;
}

input, select {
    width: 600px;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

textarea {
    width: 579px;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    padding: 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

img {
    width: 30px;
    height: 30px;
}