body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#loginForm {
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
}

h2 {
    color: white;
}

img {
    width: 20px;
    height: 20px;
}

input {
    width: 200px;
    padding: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background-color: grey;
    color: white;
}

button {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 80px;
}

#username {
    background-image: url('user.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right;
}

#password {
    background-image: url('key.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right;
}
