body {
    background-image: url("nen-hoa-hong.png"), url("rose.png"), url("kim-tea-hee.png");
    background-repeat: no-repeat;
    background-color: darkred;
    background-position: right bottom, 5rem bottom, left bottom;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .container {
    width: 50%;
    border: solid 1px white;
    margin-top: 10%;
    margin: auto;
  }
  
  .tittle {
    background-color: #FFCCFF;
  }
  
  .b1 {
    background-color: red;
    background-size: cover;
    color: white;
    text-align: right;
    padding: 1.5rem 0.5rem 0.5rem 0;
  }
  
  .tittle2 {
    width: 75%;
    text-align: center;
    color: red;
    padding: 1.5rem 0.5rem 0 0
  }
  
  .img{
      margin-left: 10%;
      width: 80%;
      align-items: center;
  }
  
  .content{
    margin: 1rem 1rem 1rem 1rem
  }
  
  ul li {
    font-weight: normal !important;
    color: #FFCCFF;
  }
  
  ol li {
    font-weight: normal !important;
    color: #FFCCFF;
  }
  
  .col{
    color: #ff0000;
    vertical-align: top;
    font-size: 16px;
    font-weight: bold
  }
  
  .bs{
    list-style:square;
  }
  